.selection1{
    background-color: bisque;
        display: flex;
        justify-content: space-between;
        height: 30px;
        width: 1266px;
        align-items: center;
}
.div1{
    display: flex;
    gap: 5px;
    align-items: center;
}
.div1 .red{
    background-color: red;
height: 15px;
width: 20px;
margin-left: 5px;
}
.div1 .yellow{
    background-color: yellow;
height: 15px;
width: 20px;
}
.div1 .green{
    background-color: green;
height: 15px;
width: 20px;
}
.input1{
    border-radius: 25px;
    padding: 2px;
    margin-right: 50px;
    padding-left: 50px;
}
.selection2{
    background-color: black;
    height: 80px;
    width: 1266px;
}
.logo{
    background-image: url('images.jfif');
    height: 148px;
    width: ;
}